<div class="dialog-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>New ticket</mat-card-title>
        </mat-card-header>
        <form [formGroup]="form" autocomplete="off">
            <mat-card-content>
                <div fxLayout="row" fxLayoutAlign="end center">
                    <mat-form-field fxFlex="45">
                        <mat-label>Scheduled</mat-label>
                        <input matInput formControlName="scheduled" [matDatepicker]="picker" [min]="today" disabled
                            required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker disabled="false"></mat-datepicker>
                    </mat-form-field>
                </div>
                <div fxLayout="row">
                    <mat-form-field fxFill>
                        <mat-label>Passenger</mat-label>
                        <input formControlName="passenger" matInput required>
                    </mat-form-field>
                </div>
                <div fxLayout="row" formGroupName="airline">
                    <mat-form-field fxFill>
                        <mat-label>Airlines</mat-label>
                        <mat-select formControlName="airlineId" required>
                            <mat-option selected></mat-option>
                            <mat-option *ngFor="let airline of this.airlines" [value]="airline.airlineId">
                                {{ airline.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row" formGroupName="origin">
                    <mat-form-field fxFill>
                        <mat-label>Origin</mat-label>
                        <mat-select formControlName="airportId" required>
                            <mat-option selected></mat-option>
                            <mat-option *ngFor="let airport of this.airports" [value]="airport.airportId">
                                {{ airport.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row" formGroupName="destination">
                    <mat-form-field fxFill>
                        <mat-label>Destination</mat-label>
                        <mat-select formControlName="airportId" required>
                            <mat-option selected></mat-option>
                            <mat-option *ngFor="let airport of this.airports" [value]="airport.airportId">
                                {{ airport.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row">
                    <mat-form-field>
                        <mat-label>Flight</mat-label>
                        <input formControlName="flight" matInput required>
                    </mat-form-field>
                    <span class="fx-spacer"></span>
                    <mat-form-field>
                        <mat-label>Gate</mat-label>
                        <input formControlName="gate" matInput required>
                    </mat-form-field>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <div fxLayout="row" fxLayoutAlign="end center">
                    <button mat-raised-button color="accent" (click)="close()">Cancel</button>
                    <span class="fx-spacer"></span>
                    <button mat-raised-button color="primary" [disabled]="(!form.valid || !form.dirty)"
                        (click)="save()">Create</button>
                </div>
            </mat-card-actions>
        </form>
    </mat-card>
</div>